@model AiWebGymTracker.Enums.UserServices

@{
    ViewData["Title"] = "Home Page";
}

<div style="text-align: right; padding: 10px;">
    <a href="/api" class="btn btn-primary" target="_blank">
        <i class="fas fa-book"></i> API Documentation
    </a>
</div>

<div id="content">
    <div class="service-container">
        @foreach (var service in Enum.GetValues(typeof(AiWebGymTracker.Enums.UserServices)))
        {
            <div class="service">
                <div class="icon" aria-hidden="true"><i class="fas fa-plus-circle"></i></div>
                <div class="text-content">
                    <h3 class="title">@service.ToString()</h3>
                </div>
            </div>
        }
    </div>
</div>